- dev = 1
DOCTYPE html
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Merkurev S.N.">
    <meta name="keywords" content="Ваши, теги">
    <meta name="description" content="150 символов">
    <meta name="subject" content="Описание Вашего сайта / страницы">
    <meta name="copyright" content="Имя компании">
    <meta name="pagename" content="Название страницы">
    <meta http-equiv="Cache-Control" content="no-cache">

</head>
<body>
  
</body>
</html>